<div id="<%= dom_id invoice %>">
  <p>
    <strong>Patient:</strong>
    <%= invoice.patient_id %>
  </p>

  <p>
    <strong>Treatment record:</strong>
    <%= invoice.treatment_record_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </p>

  <p>
    <strong>Balance amount:</strong>
    <%= invoice.balance_amount %>
  </p>

  <p>
    <strong>Issued on:</strong>
    <%= invoice.issued_on %>
  </p>

  <p>
    <strong>Approved by dentist at:</strong>
    <%= invoice.approved_by_dentist_at %>
  </p>

  <p>
    <strong>Approved by admin at:</strong>
    <%= invoice.approved_by_admin_at %>
  </p>

</div>
