<div id="<%= dom_id notification %>">
  <p>
    <strong>Patient:</strong>
    <%= notification.patient_id %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= notification.channel %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= notification.category %>
  </p>

  <p>
    <strong>Scheduled for:</strong>
    <%= notification.scheduled_for %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= notification.sent_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= notification.status %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

</div>
