<%= form_with(model: user) do |form| %>
  <%= render "shared/form_errors", model: user %>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <div>
      <%= form.label :name, class: "input-label" %>
      <%= form.text_field :name, class: "input-field" %>
    </div>

    <div>
      <%= form.label :email, class: "input-label" %>
      <%= form.email_field :email, class: "input-field" %>
    </div>

    <div>
      <%= form.label :role, class: "input-label" %>
      <%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] }, {}, class: "input-field" %>
    </div>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
