<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= patient.birth_date %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Emergency contact name:</strong>
    <%= patient.emergency_contact_name %>
  </p>

  <p>
    <strong>Emergency contact phone:</strong>
    <%= patient.emergency_contact_phone %>
  </p>

  <p>
    <strong>Medical history:</strong>
    <%= patient.medical_history %>
  </p>

  <p>
    <strong>Consented at:</strong>
    <%= patient.consented_at %>
  </p>

</div>
