<div id="<%= dom_id treatment_record %>">
  <p>
    <strong>Patient:</strong>
    <%= treatment_record.patient_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= treatment_record.user_id %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= treatment_record.appointment_id %>
  </p>

  <p>
    <strong>Service type:</strong>
    <%= treatment_record.service_type %>
  </p>

  <p>
    <strong>Clinical notes:</strong>
    <%= treatment_record.clinical_notes %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= treatment_record.cost %>
  </p>

  <p>
    <strong>Performed on:</strong>
    <%= treatment_record.performed_on %>
  </p>

</div>
