<div id="<%= dom_id payment %>">
  <p>
    <strong>Invoice:</strong>
    <%= payment.invoice_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Paid on:</strong>
    <%= payment.paid_on %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= payment.method %>
  </p>

  <p>
    <strong>Reference code:</strong>
    <%= payment.reference_code %>
  </p>

</div>
